@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-gray-100;
}

:root {
  --multistep-color-tab: #e5e7eb !important;
  --multistep-color-success: #eb36c5 !important;
}

.formkit-outer[data-type='multi-step'] > .formkit-wrapper {
  max-width: none !important;
}

.formkit-outer[data-type='multi-step'] > .formkit-wrapper {
  box-shadow: none !important;
}

.formkit-outer[data-type='multi-step'] > .formkit-wrapper > .formkit-steps,
.formkit-outer[data-type='multi-step']
  > [data-tab-style='tab']
  > .formkit-tabs {
  border: none !important;
}

.group\/multistep .group-\[\]\/multistep\:shadow-sm {
  @apply bg-[#eb36c5] text-white border-none rounded-full font-semibold !important;
}

li:has(input:checked) {
  @apply border-gray-800 !important;
}

.formkit-outer[data-type='multi-step']
  .formkit-tab[data-valid='true']
  .formkit-badge,
.formkit-outer[data-type='multi-step'] [data-tab-style='tab'] .formkit-badge,
.formkit-actions {
  @apply hidden;
}

.formkit-outer[data-type='multi-step']
  > [data-tab-style='tab']
  > .formkit-tabs
  .formkit-tab,
.formkit-outer[data-type='multi-step']
  > [data-tab-style='tab']
  > .formkit-tabs
  .formkit-tab[data-active='true'] {
  @apply w-1/2 !important;
}

.formkit-outer[data-type='multi-step']
  > [data-tab-style='tab']
  > .formkit-tabs
  .formkit-tab {
  @apply font-bold;
}
